In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from pandas_profiling import ProfileReport
import lazypredict
import warnings
warnings.filterwarnings('ignore')

In [2]:
'''Main objective of the analysis that specifies whether your model will be focused on prediction or interpretation.
`Brief description of the data set you chose and a summary of its attributes.

Brief summary of data exploration and actions taken for data cleaning and feature engineering.

Summary of training at least three linear regression models which should be variations that cover using a simple linear regression as a baseline, adding polynomial effects, and using a regularization regression. Preferably, all use the same training and test splits, or the same cross-validation method.

A paragraph explaining which of your regressions you recommend as a final model that best fits your needs in terms of accuracy and explainability.

Summary Key Findings and Insights, which walks your reader through the main drivers of your model and insights from your data derived from your linear regression model.

Suggestions for next steps in analyzing this data, which may include suggesting revisiting this model adding specific data features to achieve a better explanation or a better prediction.'''

'Main objective of the analysis that specifies whether your model will be focused on prediction or interpretation.\n`Brief description of the data set you chose and a summary of its attributes.\n\nBrief summary of data exploration and actions taken for data cleaning and feature engineering.\n\nSummary of training at least three linear regression models which should be variations that cover using a simple linear regression as a baseline, adding polynomial effects, and using a regularization regression. Preferably, all use the same training and test splits, or the same cross-validation method.\n\nA paragraph explaining which of your regressions you recommend as a final model that best fits your needs in terms of accuracy and explainability.\n\nSummary Key Findings and Insights, which walks your reader through the main drivers of your model and insights from your data derived from your linear regression model.\n\nSuggestions for next steps in analyzing this data, which may include suggesting revisiting this model adding specific data features to achieve a better explanation or a better prediction.'

In [6]:
path = !pwd

In [14]:
path='C:/Users/sudwa/Desktop/Machine Learning/Coursera_ML/IBM/Supervised Learning Regression/Week 4/injury_stats.csv'
df = pd.read_csv(path, encoding='cp1252')
df.head()

,Year,Sex,Age group (years) at date of injury,Geographic region where injury occurred,Employment status,Occupation,Injury/illness/disease group,Type of injury/illness/disease,Industry,Industry subgroup,Value,Measure,Status
0,2002,Total,Total,Total,Total,Total,Total,Total,Total,Total,258.4,Number of claims in thousands,Final
1,2003,Total,Total,Total,Total,Total,Total,Total,Total,Total,258.1,Number of claims in thousands,Final
2,2004,Total,Total,Total,Total,Total,Total,Total,Total,Total,261.1,Number of claims in thousands,Final
3,2005,Total,Total,Total,Total,Total,Total,Total,Total,Total,262.0,Number of claims in thousands,Final
4,2006,Total,Total,Total,Total,Total,Total,Total,Total,Total,253.6,Number of claims in thousands,Final

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2945 entries, 0 to 2944
Data columns (total 13 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Year                                     2945 non-null   int64
 1   Sex                                      2945 non-null   object
 2   Age group (years) at date of injury      2945 non-null   object
 3   Geographic region where injury occurred  2945 non-null   object
 4   Employment status                        2945 non-null   object
 5   Occupation                               2945 non-null   object
 6   Injury/illness/disease group             2945 non-null   object
 7   Type of injury/illness/disease           2945 non-null   object
 8   Industry                                 2945 non-null   object
 9   Industry subgroup                        2945 non-null   object
 10  Value                                    2945 non-null   float64
 11  Measure                                  2945 non-null   object
 12  Status                                   2945 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 299.2+ KB